<div id="menuContainer">
    <div id="imgContainer">
        <img src="https://winters.com/assets/logos/wintersLogoWhite.webp" alt="logo" id="imgLogo"/>
    </div>
    <div id="navContainer">
        <nav class="navbar navbar-expand-lg bg-body-tertiary" id="navMenu">
            <div class="container-fluid">
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border: 2px solid white;">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="row w-100">
                        <div class="col-12 d-flex justify-content-between" id="formSearch">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" aria-expanded="false">
                                        <i class="bi bi-globe"></i> REDIRECT TO
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">ASIA</a></li>
                                        <li><a class="dropdown-item" href="#">LATIN AMERICA</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" aria-expanded="false">
                                        <i class="bi bi-geo-alt"></i> WHERE TO BUY
                                    </a>
                                    <ul class="dropdown-menu" hidden>
                                        <li><a class="dropdown-item" href="#">Option 1</a></li>
                                        <li><a class="dropdown-item" href="#">Option 2</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" aria-expanded="false">
                                        <i class="bi bi-person"></i> DISTRIBUTOR LOGIN
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">USA</a></li>
                                        <li><a class="dropdown-item" href="#">WORLD WIDE</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <form class="d-flex w-70" role="search" id="formSearch">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                        <div class="col-12" style="margin-top: 20px;">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <!-- Dropdown ABOUT -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle dropSecondItem" href="#" role="button" aria-expanded="false">
                                        ABOUT
                                    </a>
                                    <ul class="dropdown-menu p-3">
                                        <div class="row">
                                            <div class="col-6">
                                                <li><a class="dropdown-item" href="#">Company</a></li>
                                                <li><a class="dropdown-item" href="#">Our Team</a></li>
                                            </div>
                                            <div class="col-6">
                                                <li><a class="dropdown-item" href="#">Careers</a></li>
                                                <li><a class="dropdown-item" href="#">News</a></li>
                                            </div>
                                            <div class="line-divider d-none d-lg-block"></div>
                                        </div>
                                    </ul>
                                </li>

                                <!-- Dropdown PRODUCTS & SERVICES -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle dropSecondItem" href="#" role="button" aria-expanded="false">
                                        PRODUCTS & SERVICES
                                    </a>
                                    <ul class="dropdown-menu p-3">
                                        <div class="row">
                                            <div class="col-6">
                                                <li><a class="dropdown-item" href="#">Product A</a></li>
                                                <li><a class="dropdown-item" href="#">Product B</a></li>
                                            </div>
                                            <div class="col-6">
                                                <li><a class="dropdown-item" href="#">Service A</a></li>
                                                <li><a class="dropdown-item" href="#">Service B</a></li>
                                            </div>
                                            <div class="line-divider d-none d-lg-block"></div>
                                        </div>
                                    </ul>
                                </li>

                                <!-- Dropdown ENGINEERING -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle dropSecondItem" href="#" role="button" aria-expanded="false">
                                        ENGINEERING
                                    </a>
                                    <ul class="dropdown-menu p-3">
                                        <div class="row">
                                            <div class="col-6">
                                                <li><a class="dropdown-item" href="#">Consulting</a></li>
                                                <li><a class="dropdown-item" href="#">Projects</a></li>
                                            </div>
                                            <div class="col-6">
                                                <li><a class="dropdown-item" href="#">Technical Support</a></li>
                                                <li><a class="dropdown-item" href="#">Certifications</a></li>
                                            </div>
                                            <div class="line-divider d-none d-lg-block"></div>
                                        </div>
                                    </ul>
                                </li>

                                <!-- Dropdown SUPPORT TOOLS -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle dropSecondItem" href="#" role="button" aria-expanded="false">
                                        SUPPORT TOOLS
                                    </a>
                                    <ul class="dropdown-menu p-3">
                                        <div class="row">
                                            <div class="col-6">
                                                <li><a class="dropdown-item" href="#">Documentation</a></li>
                                                <li><a class="dropdown-item" href="#">Downloads</a></li>
                                            </div>
                                            <div class="col-6">
                                                <li><a class="dropdown-item" href="#">FAQs</a></li>
                                                <li><a class="dropdown-item" href="#">Community</a></li>
                                            </div>
                                            <div class="line-divider d-none d-lg-block"></div>
                                        </div>
                                    </ul>
                                </li>

                                <!-- Dropdown CONTACT -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle dropSecondItem" href="#" role="button" aria-expanded="false">
                                        CONTACT
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-left p-3 custom-dropdown-left"> <!-- Clase personalizada -->
                                        <div class="row">
                                            <div class="col-6">
                                                <li><a class="dropdown-item" href="#">Contact Form</a></li>
                                                <li><a class="dropdown-item" href="#">Locations</a></li>
                                            </div>
                                            <div class="col-6">
                                                <li><a class="dropdown-item" href="#">Support</a></li>
                                                <li><a class="dropdown-item" href="#">Help Center</a></li>
                                            </div>
                                            <div class="line-divider d-none d-lg-block"></div>
                                        </div>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
  
