<div class="banner">
    <h1 class="banner-title">PIPE, VALVE & FITTING</h1>
    <div class="overlay"></div>
</div>
<div class="info-box">
    <p>Pipe, valve and fitting (PVF) cover a wide range of industries and applications. With Winters broad and deep pressure and temperature offering, we have all your requirements covered.</p>
</div>
<div class="info-section">
    <h3 style="color: #c2132f;">VISIT US AT:</h3>
    <div class="details">
        <span style="font-size: 18px; color: #c2132f; font-weight: bold;">Expoalimentaria</span>
        <span><i class="bi bi-calendar-check-fill"></i>Septiembre 25, 2024</span>
        <span><i class="bi bi-geo-alt-fill"></i>F25</span>
        <span><i class="bi bi-link"></i> expoalimentariaperu.com</span>
    </div>
</div>